$normal-footer-height:131px;
$tablet-footer-height:131px;
html,body{
   height:100%;
}
.page-bg{
    background-color:lightblue;
    
    min-height: 100%;
    height: auto !important;
    @include bp(min-normal){
        padding-bottom:$normal-footer-height;
    }
    @include bp(min-tablet){
         padding-bottom:$tablet-footer-height;
    }
}
#sitefoot{
    background-color: #999;
    @include bp(min-normal){
        height:$normal-footer-height;
        margin-top:-$normal-footer-height;
    }
    @include bp(min-tablet){
         height:$tablet-footer-height;
         margin-top:-$tablet-footer-height;
    }
}