/**
* base font-size radius and color
*/

$lillyred:#d52b1e;


$red-normal:$lillyred;
$red-light:darken($red-normal,5%);
$red-deep:darken($red-normal,10%);

$light-grey1:#B3B3B3;
$light-grey2:#D5D2CA;

$grey-title:#665f58;

$leap-green:#259c96;
