#header{
    min-height: 80px;
    position: relative;
}

#nav_header{
    background: #fff;
    height: 80px;
    border-radius: 0;
    border: 0;
    //border-bottom: 1px solid #d4d4d4;
	margin-bottom: 0;
	z-index: 1;
	#jsn-navbtn{
		.icon-bar{
			background-color: $blue_light;
			width: 26px;
			height: 3px;
			margin-top: 7px;
			border-radius: 1px;
			&:nth-child(1){
				margin-top: 10px;
			}
		}
	}
	#logo{
		width: 80px;
	    height: 80px;
		background-image: url(../../../images/logo_pro.png);
	    background-image: url(../../../images/logo_pro.svg);
	    background-repeat: no-repeat;
	    display: block;
	    text-indent: -5000em;
	}
	#jsn_main_top{
		background-color: #fff;
		::-webkit-scrollbar {
			-webkit-appearance: none;
		}

		::-webkit-scrollbar:vertical {
			width: 26px;
			padding-left: 1px;
			margin-left: 1px;
		}

		::-webkit-scrollbar-thumb {
			background: rgba(0,0,0,0.7);
			border-radius: 20px;
			border: 8px solid #e7e7e7;
		}
	}
	ul.jsn_main_NAV{
        color: $grey_deep;
		>li.active > a{
				//background-color: #fff; 
                color: $blue_light;
		}
		>li{
			>a{
				font-size: 18px;
				padding: 29px 15px;
				@include bp(max-tablet){
					padding:15px;
				}
			    display: block;
			    position: relative;
			    color: $grey_deep;
			    text-decoration: none;
				background-color: #fff!important; 
				&:hover,&:focus{
					color:$blue_light; 
				}
			}
		} //end first li
		li.dropdown{
			a{
				
				&:hover,&:focus{
					color:$blue_light;
					background-color: #fff; 
				}
			}
		}
	}//end ul
	.jsn-widget{
		>li{
			padding: 24px 15px;
			@include bp(max-tablet){
					padding:15px;
				}
		}
		li.search>a{
			background-image: url(../../../images/btn_search.png);
			background-image: url(../../../images/btn_search.svg);
			background-repeat: no-repeat;
			width: 27px;
			height: 27px;
			&:hover,&:focus{
				text-decoration: none;
    			background-color: #fff;
			}
		}
		li.jsn-user>a{
			background-image: url(../../../images/btn_user.png);
			background-image: url(../../../images/btn_user.svg);
			background-repeat: no-repeat;
			width: 34px;
			height: 28px;
			position: relative;
			text-indent: 0;
			color: #fff;
			text-decoration: none;
			&:hover,&:focus{
				text-decoration: none;
    			background-color: #fff;
			}
		}
		li.jsn-email >a{
			background-image: url(../../../images/Envelope.png);
			background-repeat: no-repeat;
			width: 32px;
			height: 23px;
			&:hover,&:focus{
				text-decoration: none;
    			background-color: #fff;
			}
		}
		li.dropdown{
			a{
				color: $grey_deep;
				&:hover,&:focus{
					color:$blue_light;
					background-color: #fff; 
				}
			}
		}
		
	}//end widget
}

/**
* search widget
**/

.headerSearch{
	overflow:hidden;
}
#jsn_search_form{
    max-width: 600px;
    width: 100%; //100%
    height: 80px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: -600px;
    z-index: 350;
    border-left: 1px solid #d4d4d4;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
	input#jsn_search_text{
        -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
		max-width: 519px;
		width: 100%;
        width:-moz-calc(100% - 80px);
        width: -webkit-calc(100% - 80px);
        width:  calc(100% - 80px);
		height: 79px;
		padding-left: 26px;
		overflow: hidden;
		border: none;
		
		float: none;
		font-size: 18px;
		&:focus{
			background-color: #f5f5f5;
			outline: none ;
		}
	}
	input[type=submit]{
		background-color: #003366; 
		background-image: url(../../../images/btn_search_white.png);
		background-image: url(../../../images/btn_search_white.svg);
		background-repeat: no-repeat;
		background-position: 48% 50%;
		background-size: 30px;
		width: 80px;
		height: 80px;
		float: right;
		border: none;
		text-indent: -5000em;
		cursor: pointer;
	}
	.close{
		background: url(../../../images/icon_close_grey.svg) no-repeat;
		background: url(../../../images/icon_close_grey_ie8.png) no-repeat\9 !important;
		width: 18px;
		height: 18px;
		margin-top: -9px;
		display: block;
		position: absolute;
		top: 50%;
		right: 100px;
		font-size: 15px;
		font-size: 1.5rem;
		text-indent: -5000em;
		cursor: pointer;
		opacity:1 !important;
		border-color: none;
	}
} // end search
