@charset "UTF-8";
//
// Media Queries
// --------------------------------------------------

@mixin bp($point) {

  $bp-max-xs: "(max-width: 319px)";
  $bp-max-sm: "(max-width: 767px)";
  $bp-max-md: "(max-width: 990px)";
  $bp-max-lg: "(max-width: 1199px)";

  $bp-min-xs: "(min-width: 320px)";
  $bp-min-sm: "(min-width: 768px)";
  $bp-min-md: "(min-width: 991px)";
  $bp-min-lg: "(min-width: 1200px)";


  @if $point == max-extended {
    @media #{$bp-max-lg} { @content; }
  }
  @else if $point == max-normal {
    @media #{$bp-max-md} { @content; }
  }
  @else if $point == max-tablet {
    @media #{$bp-max-sm}  { @content; }
  }
  @else if $point == max-phone {
    @media #{$bp-max-xs}  { @content; }
  }
  @else if $point == min-extended {
    @media #{$bp-min-lg} { @content; }
  }
  @else if $point == min-normal {
    @media #{$bp-min-md} { @content; }
  }
  @else if $point == min-tablet {
    @media #{$bp-min-sm}  { @content; }
  }
  @else if $point == min-phone {
    @media #{$bp-min-xs}  { @content; }
  }

}