
body,p{
  margin: 0;
}
$postblue:#36aceb;
$postblcak:#9a9a9a;
.mr5{
  margin-right: 5%;
}
.ml1{
   margin-left: 1%;
 }
.pull-left{
  float: left!important;
}
.pull-right{
  float: right!important;
}
.clearfix{
clear: both;
}
%img-responsive{
  display: block;
  max-width: 100%;
  height: auto;
}

.post-banner{
  img{
    @extend %img-responsive;
    width:100%;
  }
}
.post-title{
  text-align: center;
  padding-top: 52px;
  padding-bottom: 46px;
  color: $postblue;
  span{
    font-size: 25px;
    border-bottom:2px solid $postblue;
    padding-bottom: 6px;
  }
}
.post-main{
  padding-left:15px;
  padding-right: 15px;
}
.post-cont{
  position: relative;
  .pleft{
    .leftphone{
      @extend %img-responsive;
    }
    float: left;
    width: 40%;
  }
  .pright{
    margin-top: 15%;
    float: left;
    width: 54%;
    color: $postblcak;
    .post-step{
      font-size: 39px;
    }
    .post-step-cont{
      font-size: 20px;
      color: $postblue;
    }
  }

  %dirplaceholder{
    @extend %img-responsive;
    width: 50px;
    height: 50px;
    @media (min-width: 380px) {
      width: 60px;
      height: 60px;
    }
    position: absolute;
    left: 43%;
    bottom: 0;
  }
  .post-step-dir-right{
    img{
      @extend %dirplaceholder;
    }
  }

  .post-step-dir-left{
    img{
      @extend %dirplaceholder;
      -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
      -o-transform: matrix(-1, 0, 0, 1, 0, 0);
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
}


.post-go{
  text-align: center;
  font-size: 2em;
  padding-top: 50px;
a{
  text-decoration: none;
}
  span{
    background: url("../images/°´Å¥¿ò.png") no-repeat center top;
    background-size: contain;
    padding: 10px 50px;
    color: #ffffff;
    margin-top: 20px;
  }
}
.post-tips{
  text-align: center;
  font-size: 0.6em;
  color:#333;
  font-weight: bold;
  margin-top: 15px;
  span{
    border-bottom:1px solid #ccc;
    padding-bottom: 10px;
  }

}
.post-footer{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  div{
    img{
      vertical-align: middle;
      width: 30px;
      height: 30px;
      margin-right: 10px;
    }
    span{

    }
  }
}