/**
* base common partial
*/

ul,li{
    list-style: none;
    padding:0;
}

%transion3{
    -webkit-transition: all 300ms ease;
        -moz-transition: all 300ms ease;
        -ms-transition: all 300ms ease;
        -o-transition: all 300ms ease;
        transition: all 300ms ease;
}
%jsnboxflex{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
}
%jsnflex{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
}
.jsnboxflex{
  @extend  %jsnboxflex;
}
div.readMore{
    clear:both;
    padding-right: 15px;
     a{
        position:relative;
        i{
            @extend %transion3;
            position: absolute;
            top:(35px-20px)/2;
            right: 40px;
        }
       background-color: $blue_deep;
       &:hover{
            background-color:$blue_light;
            i{
                right: 30px;
            }
        }
        text-align: center;
        width: 200px;
        display: block;
        padding: 5px 0; 
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
        text-decoration: none;
        @extend %transion3;
        cursor: pointer; 
    }
}
   
	