/**
* base class
*/

html{
  @include rem-baseline; //font-size:62.5%
}

::selection {
    background: #c1b38e;
    text-shadow: none;
 }

a:focus,button:focus{
    outline:none!important;
}

.plr0{
    padding-left:0;
    padding-right:0;
}

.inputshadow{
    &:focus{
        outline: 0;
        border-color:red;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(red, .6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(red, .6);
    }
}

.ellipsis{
    @extend %ellipsis-basic;
}

