.crumbs {
    padding-right:30px;
    padding-top: 10px; 
    padding-bottom: 10px;     
    border-top: 1px solid #d4d4d4; 

    text-align: right;
    color: $blue_deep;
    font-weight: bold;
    a{
        color: $blue_deep;
    }
}
.crumbs i{
    color: $blue_light;
    margin-left: 5px;
    margin-right: 5px;
}
.categorybanner{
    height: 103px;
    padding-top: 45px;
    margin-bottom:10px;
    background-image: url("../../images/top_bg.png");
    color:#fff;
    font-size: 30px;
    font-weight:bold;
    text-indent: 25px;
    background-size: cover;
}
